Repository FSTUM/settool-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

semester-reformating
  bags/models.py
  guidedtours/models.py
  tutors/models.py
Due: mypy, pylint

generified Semesters and ids (except fahrt.participant)
  bags/migrations/0027_alter_company_semester_alter_giveawaygroup_semester.py
  bags/models.py
  fahrt/forms.py
  fahrt/models.py
  fahrt/views/maintinance_views.py
  fahrt/views/participants_views.py
  fahrt/views/tex_views.py
  guidedtours/migrations/0021_alter_tour_semester.py
  guidedtours/models.py
  settool_common/cron.py
  settool_common/locale/de/LC_MESSAGES/django.po
  settool_common/migrations/0018_alter_anonymisationlog_semester.py
  settool_common/models.py
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/migrations/0009_alter_event_id_alter_event_semester_and_more.py
  tutors/migrations/0010_alter_event_semester_alter_question_semester_and_more.py
  tutors/models.py
Due: mypy, pylint

changed datetime.datetime to timezone to stop this migration from complaining about TZ-Support
  guidedtours/migrations/0005_participant_time.py
Due: mypy

fixed typo: deparure_place is spelled with a t
  fahrt/migrations/0032_rename_deparure_place_transportation_departure_place_and_more.py
  fahrt/templates/fahrt/transportation/management/list_transports.html
  settool_common/fixtures/showroom_fixture.py
Due: mypy, pylint

generified the logging and added a modification log to every db-object
  bags/migrations/0026_bagsettings_created_at_bagsettings_updated_at_and_more.py
  bags/models.py
  fahrt/migrations/0031_rename_deparure_place_transportation_departure_place_and_more.py
  fahrt/models.py
  guidedtours/migrations/0020_participant_created_at_participant_updated_at_and_more.py
  guidedtours/models.py
  settool_common/migrations/0017_anonymisationlog_created_at_and_more.py
  settool_common/models.py
  tutors/models.py
Due: mypy, pylint

migrated fahrt.participant from an integer-based id to a uuid
  fahrt/locale/de/LC_MESSAGES/django.mo
  fahrt/locale/de/LC_MESSAGES/django.po
  fahrt/migrations/0033_logentry_participant_uuid_and_more.py
  fahrt/migrations/0034_remove_participant_id_alter_logentry_participant_and_more.py
  fahrt/models.py
  fahrt/templates/fahrt/finanz/simple_finanz.html
  fahrt/templates/fahrt/participants/view_participant_details.html
  fahrt/templates/fahrt/transportation/management/add_transport.html
  fahrt/templates/fahrt/transportation/management/list_transports.html
  fahrt/templates/fahrt/transportation/management/transport_chat.html
  fahrt/urls.py
  fahrt/views/finanz_views.py
  fahrt/views/participants_views.py
  fahrt/views/transport_views.py
Due: mypy, pylint

minor formatting changes
  bags/locale/de/LC_MESSAGES/django.po
  bags/models.py
  bags/views.py
  fahrt/models.py
  guidedtours/locale/de/LC_MESSAGES/django.po
  guidedtours/models.py
  guidedtours/views.py
  settool_common/models.py
  tutors/forms.py
Due: mypy, pylint

Automated Change: updated pre-commit requirements
  .pre-commit-config.yaml
Due: none

fixed minor formatting issues introduced in #146
  fahrt/views/participants_views.py
  guidedtours/migrations/0005_participant_time.py
  tutors/templates/tutors/task/view.html
Due: mypy, pylint

fixed two typeckecking issue in fahrt.participant - the pk pf this model is a UUID - since no related_name for this model exists anymore, we should not try to call it this way introduced in #146
  fahrt/forms.py
  fahrt/migrations/0035_alter_participant_semester.py
  fahrt/views/tex_views.py
Due: mypy, pylint

removed the gitlab-ci, since we don't use it anymore
  .gitlab-ci.yml
Due: none

Automated Change: updated pre-commit requirements
  .pre-commit-config.yaml
  .pre-commit-only-line-endings-config.yaml
Due: none

Automated Change: updated npm requirements
  node_modules/bootstrap-icons/font/bootstrap-icons.css
  node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff
  node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2
Due: none

removed remaining references to the uuid field for fahrt-participants
  fahrt/views/transport_views.py
Due: mypy, pylint

fixed migration failing in production
  fahrt/migrations/0034_remove_participant_id_alter_logentry_participant_and_more.py
Due: mypy

added a sample database configuration to test for differences in prod
  settool/settings/dev_settings.py
Due: mypy, pylint

fixed the mail-template table not shown before changing the mail
  settool_common/templates/settool_common/settings/mail/change_mail_base.html
Due: none

enabled the database in the development
  README.md
  settool/settings/dev_settings.py
Due: mypy, pylint

fixed a typo in the fahrt import from other semester
  bags/views.py
Due: mypy, pylint

added the ability for set-tueten to log into the tool
  settool/settings/keycloak_settings.py
Due: mypy, pylint

removed the ability to set your own custom uuid on tutor/colaborator signup
  tutors/forms.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
