Repository FSTUM/settool-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Automated Change: updated pre-commit requirements
  .pre-commit-config.yaml
Due: none

Automated Change: updated npm requirements
  node_modules/bootstrap-icons/font/bootstrap-icons.css
  node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff
  node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2
Due: none

Updated staticfiles
  node_modules/bootstrap-switch-button/css/bootstrap-switch-button.min.css
  node_modules/bootstrap-switch-button/dist/bootstrap-switch-button.min.js
  node_modules/bootstrap-switch-button/dist/bootstrap-switch-button.min.js.map
  node_modules/bootstrap/dist/css/bootstrap.css.map
  node_modules/bootstrap/dist/css/bootstrap.min.css
  node_modules/bootstrap/dist/css/bootstrap.min.css.map
  node_modules/bootstrap/dist/js/bootstrap.bundle.min.js
  node_modules/bootstrap/dist/js/bootstrap.bundle.min.js.map
  node_modules/choices.js/public/assets/scripts/choices.min.js
  node_modules/choices.js/public/assets/styles/choices.min.css
  node_modules/jquery/dist/jquery.min.map
Due: none

Automated Change: updated npm requirements
  node_modules/bootstrap-switch-button/css/bootstrap-switch-button.min.css
  node_modules/bootstrap-switch-button/dist/bootstrap-switch-button.min.js
  node_modules/bootstrap-switch-button/dist/bootstrap-switch-button.min.js.map
  node_modules/bootstrap/dist/css/bootstrap.css.map
  node_modules/bootstrap/dist/css/bootstrap.min.css
  node_modules/bootstrap/dist/css/bootstrap.min.css.map
  node_modules/bootstrap/dist/js/bootstrap.bundle.min.js
  node_modules/bootstrap/dist/js/bootstrap.bundle.min.js.map
  node_modules/choices.js/public/assets/scripts/choices.min.js
  node_modules/choices.js/public/assets/styles/choices.min.css
  node_modules/jquery/dist/jquery.min.map
Due: none

updated anonymization cronjob for new requirements
  settool_common/cron.py
Due: mypy, pylint

minor formatting changes
  .pre-commit-config.yaml
  tutors/views.py
Due: mypy, pylint

minor formatting changes in some models
  fahrt/models.py
  guidedtours/models.py
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/models.py
Due: mypy, pylint

made Graceperiod configurable by models.py and displayed this in the main-settings
  fahrt/models.py
  guidedtours/models.py
  locale/de/LC_MESSAGES/django.po
  settool_common/cron.py
  settool_common/locale/de/LC_MESSAGES/django.po
  settool_common/templates/settool_common/settings/settings_dashboard.html
  settool_common/views.py
  templates/snippets/true_false_none_span.html
  tutors/models.py
Due: mypy, pylint

cron formatting and typo fixes
  settool_common/cron.py
Due: mypy, pylint

implemented the anonymization methods
  settool_common/cron.py
Due: mypy, pylint

pre-commit fixes
  locale/de/LC_MESSAGES/django.mo
  settool_common/locale/de/LC_MESSAGES/django.mo
Due: none

Added confirmation email for succesfull/failed
  locale/de/LC_MESSAGES/django.mo
  settool_common/cron.py
  settool_common/locale/de/LC_MESSAGES/django.mo
Due: mypy, pylint

added a debug statement for better debuggability in the future
  settool_common/cron.py
Due: mypy, pylint

included a vectorised pdf file instead of pngs
  settool_common/models.py
  settool_common/templatetags/latex.py
  staticfiles/eule_original.png
  staticfiles/logo/eule_original.eps
  staticfiles/logo/eule_original.pdf
  staticfiles/logo/eule_squared.png
Due: mypy, pylint

fixed a few translations
  bags/locale/de/LC_MESSAGES/django.mo
  bags/locale/de/LC_MESSAGES/django.po
  bags/templates/bags/company/list_companys.html
  fahrt/locale/de/LC_MESSAGES/django.mo
  fahrt/locale/de/LC_MESSAGES/django.po
  fahrt/templates/fahrt/participants/list/list_confirmed.html
Due: none

minor formatting change to make pre-commit happy
  settool_common/cron.py
Due: mypy, pylint

minor formatting change
  settool/settings.py
Due: mypy, pylint

ugettext_lazy -> gettext_lazy gettext_lazy in views/forms -> gettext
  bags/forms.py
  bags/models.py
  bags/views.py
  fahrt/forms.py
  fahrt/models.py
  fahrt/views/dashboard_views.py
  fahrt/views/finanz_views.py
  fahrt/views/participants_views.py
  fahrt/views/tex_views.py
  fahrt/views/transport_views.py
  guidedtours/forms.py
  guidedtours/models.py
  guidedtours/views.py
  settool/settings.py
  settool_common/forms.py
  settool_common/models.py
  settool_common/views.py
  tutors/forms.py
  tutors/models.py
  tutors/views.py
Due: mypy, pylint

added username:password login option to the fixture
  settool_common/fixtures/showroom_fixture.py
Due: mypy, pylint

linting change to the fixture
  .pre-commit-config.yaml
  settool_common/fixtures/showroom_fixture.py
Due: mypy, pylint

updated the footer
  templates/base.html
Due: none

hopefully fixed the migration, which stops the deployment into production
  settool_common/migrations/0015_auto_20210319_2055.py
Due: mypy

is this the fix for this migration to work finally?
  settool_common/migrations/0015_auto_20210319_2055.py
Due: mypy

hopefully the last change I have made, to make this migration work
  settool_common/migrations/0015_auto_20210319_2055.py
Due: mypy

changed the
  .github/workflows/git_sync.yml
Due: none

increased the max_length for some names in CourseBundle and Subject
  settool_common/migrations/0015_auto_20210319_2055.py
  settool_common/models.py
Due: mypy, pylint

concatinating strings and integers does not work..
  bags/migrations/0019_auto_20210217_2230.py
Due: mypy

fixed a violated non-null constraint in a migration
  bags/migrations/0020_auto_20210321_1611.py
Due: mypy

maybe fixed an ObjectInUse error in migration
  tutors/migrations/0004_auto_20210130_2103.py
Due: mypy

moved altering the settings to another migration, because otherwise a clash between the migrations was caused
  tutors/migrations/0004_auto_20210130_2103.py
  tutors/migrations/0005_auto_20210215_0109.py
  tutors/migrations/0006_auto_20210216_0111.py
  tutors/migrations/0007_auto_20211125_2116.py
Due: mypy

fixed a bug in some views where an not-created fahrt object-lead to 500-errors
  fahrt/forms.py
  fahrt/locale/de/LC_MESSAGES/django.mo
  fahrt/locale/de/LC_MESSAGES/django.po
  fahrt/views/participants_views.py
  fahrt/views/transport_views.py
Due: mypy, pylint

formatting changes
  fahrt/views/participants_views.py
Due: mypy, pylint

when selecting car=False, this should filter for non-drivers
  fahrt/views/participants_views.py
Due: mypy, pylint

changed the git_sync destination branch to master
  .github/workflows/git_sync.yml
Due: none

refactored the README.md
  README.md
Due: none

added caching to the setup-python actions
  .github/workflows/main-ci.yml
  .github/workflows/npm_updates.yml
  .github/workflows/pre-commit_updates.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
