Repository FSTUM/settool-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: check-ast
          - id: check-toml
          - id: check-yaml
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-case-conflict
          - id: check-docstring-first
          - id: debug-statements
          - id: name-tests-test
            args: [--django]
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: requirements-txt-fixer
    - repo: https://github.com/paulhfischer/pre-commit-hooks
      rev: v1.2.18
      hooks:
          - id: format-general
          - id: format-web
          - id: lint-css
          #- id: lint-javascript
    - repo: https://github.com/PyCQA/isort
      rev: 5.9.3
      hooks:
          - id: isort
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.2.0
      hooks:
          - id: add-trailing-comma
    - repo: https://github.com/psf/black
      rev: 21.9b0
      hooks:
          - id: black
            language_version: python3
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0
      hooks:
          - id: python-check-blanket-noqa
          - id: python-use-type-annotations
    - repo: local
      hooks:
          - id: mypy
            name: mypy
            entry: mypy
            language: system
            types: [python]
    - repo: https://gitlab.com/PyCQA/flake8
      rev: 3.9.2
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-broken-line
                - flake8-commas
                - flake8-bugbear
                - flake8-comprehensions
                - flake8-mutable
                - flake8-return
                - flake8-typing-imports
                - flake8-simplify
                - flake8-print
                - flake8-use-fstring
                - flake8-django
    - repo: local
      hooks:
          - id: django-makemigrations
            name: django-migrations
            entry: ./manage.py makemigrations
            language: system
            pass_filenames: false
          - id: django-check
            name: django-check
            entry: ./manage.py check --fail-level=INFO
            language: system
            pass_filenames: false
          - id: django-migratate
            name: django-migrations
            entry: ./manage.py migrate
            language: system
            pass_filenames: false
          - id: django-makemessages
            name: django-makemessages
            entry: ./manage.py makemessages -a --add-location=file --ignore="venv/*"
            language: system
            pass_filenames: false
          - id: django-compilemessages
            name: django-compilemessages
            entry: ./manage.py compilemessages --ignore="venv/*"
            language: system
            pass_filenames: false
    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.0
      hooks:
          - id: bandit
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: pylint
            language: system
            types: [python]
            exclude: migrations

Update settool-deployment.yaml
  staging/settool-deployment.yaml
Due: none

Automated Change: updated pre-commit requirements
  .pre-commit-config.yaml
Due: none

Improved the errormessage on IntegrityError for new Tutors and Collaborators. 500-server errors are not paritcularly the best
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/views.py
Due: mypy, pylint

fixed an invalid URL
  tutors/views.py
Due: mypy, pylint

fixed more invalid URLs
  tutors/views.py
Due: mypy, pylint

Automated Change: updated npm requirements
  node_modules/bootstrap-icons/font/bootstrap-icons.css
  node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff
  node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2
Due: none

fixed accidentally relative LOGOUT_REDIRECT_URL
  settool/settings/base_settings.py
Due: mypy, pylint

added a redirect for login/
  settool/urls.py
Due: mypy, pylint

changed the Subjects ordering and added a unique-key to the CourseBundle
  .run/Run set-tool.run.xml
  settool_common/migrations/0016_alter_coursebundle_options_alter_subject_options_and_more.py
  settool_common/models.py
Due: mypy, pylint

added more errorhandling to the batch-operations
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/models.py
  tutors/views.py
Due: mypy, pylint

fixed key-error
  tutors/views.py
Due: mypy, pylint

fixed a translation-error
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
Due: none

clarified, that batch actions do not send mails
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/views.py
Due: mypy, pylint

Automated Change: updated npm requirements
  node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css
  node_modules/datatables.net/js/jquery.dataTables.min.js
Due: none

Automated Change: updated npm requirements
  node_modules/choices.js/public/assets/scripts/choices.min.js
  node_modules/choices.js/public/assets/styles/choices.min.css
Due: none

Bugfix: Only show Questions if they actually exist
  tutors/templates/tutors/standalone/collaborator_signup/signup.html
  tutors/templates/tutors/standalone/tutor_signup/signup.html
  tutors/views.py
Due: mypy, pylint

fixed translations from forms not being shown correctly
  bags/forms.py
  fahrt/forms.py
  guidedtours/forms.py
  settool_common/forms.py
  tutors/forms.py
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/views.py
Due: mypy, pylint

bugfix: tutors were not correctly unasigned/assigned
  tutors/templates/tutors/task/view.html
Due: none

added .mypy_cache to gitignore
  .gitignore
Due: none

Bugfix: fixed the ordering in when viewing all mails
  settool_common/templates/settool_common/settings/mail/list_email_templates.html
Due: none

Added migrations to fix that all Mails are in the correct Place
  bags/migrations/0025_auto_20220321_1902.py
  fahrt/migrations/0030_auto_20220321_1911.py
  guidedtours/migrations/0019_auto_20220321_1913.py
  tutors/migrations/0008_auto_20220321_1851.py
Due: mypy

Fixed import error in a few migrations
  bags/migrations/0025_auto_20220321_1902.py
  fahrt/migrations/0030_auto_20220321_1911.py
  guidedtours/migrations/0019_auto_20220321_1913.py
  tutors/migrations/0004_auto_20210130_2103.py
  tutors/migrations/0008_auto_20220321_1851.py
Due: mypy

Bugfix: empty answer_formset was preventing the collaborator form from validating truthfully
  tutors/views.py
Due: mypy, pylint

Bugfix: IntegrityErrors are only thrown on-save. We should thus include this in the try-catch block
  tutors/views.py
Due: mypy, pylint

added .mailmap to modify misspelled email adresses/names
  .mailmap
Due: none

simplified, how the fixture generates mails
  settool_common/fixtures/showroom_fixture.py
  settool_common/tests/test_email.py
Due: mypy, pylint

Simplified the course_bundle fixture generation code
  settool_common/fixtures/showroom_fixture.py
Due: mypy, pylint

Made The case that no mail_task is set in the settings more verbose and redirect to settings
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/views.py
Due: mypy, pylint

reviewed all other 404 cases and added a comment where necessary
  fahrt/views/finanz_views.py
  settool_common/views.py
Due: mypy, pylint

added a string annotation for every __str__ method
  bags/models.py
  fahrt/models.py
  guidedtours/models.py
  settool_common/models.py
  tutors/models.py
Due: mypy, pylint

fixed a typo in "car"
  fahrt/forms.py
  fahrt/locale/de/LC_MESSAGES/django.mo
  fahrt/locale/de/LC_MESSAGES/django.po
Due: mypy, pylint

fixed typo: (transaction_list) should be {transaction_list}
  fahrt/locale/de/LC_MESSAGES/django.mo
  fahrt/locale/de/LC_MESSAGES/django.po
  fahrt/views/finanz_views.py
Due: mypy, pylint
