Repository FSTUM/settool-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: check-ast
          - id: check-toml
          - id: check-yaml
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-case-conflict
          - id: check-docstring-first
          - id: debug-statements
          - id: name-tests-test
            args: [--django]
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: requirements-txt-fixer
    - repo: https://github.com/paulhfischer/pre-commit-hooks
      rev: v1.2.18
      hooks:
          - id: format-general
          - id: format-web
          - id: lint-css
          #- id: lint-javascript
    - repo: https://github.com/PyCQA/isort
      rev: 5.9.3
      hooks:
          - id: isort
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.2.0
      hooks:
          - id: add-trailing-comma
    - repo: https://github.com/psf/black
      rev: 21.9b0
      hooks:
          - id: black
            language_version: python3
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0
      hooks:
          - id: python-check-blanket-noqa
          - id: python-use-type-annotations
    - repo: local
      hooks:
          - id: mypy
            name: mypy
            entry: mypy
            language: system
            types: [python]
    - repo: https://gitlab.com/PyCQA/flake8
      rev: 3.9.2
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-broken-line
                - flake8-commas
                - flake8-bugbear
                - flake8-comprehensions
                - flake8-mutable
                - flake8-return
                - flake8-typing-imports
                - flake8-simplify
                - flake8-print
                - flake8-use-fstring
                - flake8-django
    - repo: local
      hooks:
          - id: django-makemigrations
            name: django-migrations
            entry: ./manage.py makemigrations
            language: system
            pass_filenames: false
          - id: django-check
            name: django-check
            entry: ./manage.py check --fail-level=INFO
            language: system
            pass_filenames: false
          - id: django-migratate
            name: django-migrations
            entry: ./manage.py migrate
            language: system
            pass_filenames: false
          - id: django-makemessages
            name: django-makemessages
            entry: ./manage.py makemessages -a --add-location=file --ignore="venv/*"
            language: system
            pass_filenames: false
          - id: django-compilemessages
            name: django-compilemessages
            entry: ./manage.py compilemessages --ignore="venv/*"
            language: system
            pass_filenames: false
    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.0
      hooks:
          - id: bandit
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: pylint
            language: system
            types: [python]
            exclude: migrations

fixed B020 Found for loop that reassigns the iterable it is iterating with each iterable value
  fahrt/locale/de/LC_MESSAGES/django.mo
  fahrt/views/finanz_views.py
  settool_common/cron.py
  settool_common/tests/test_email.py
Due: mypy, pylint

made every of the three registration_open into a property
  tutors/models.py
  tutors/views.py
Due: mypy, pylint

added another translation
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/views.py
Due: mypy, pylint

Automated Change: updated pre-commit requirements
  .pre-commit-config.yaml
Due: none

exchanged a checkmark with a stupid string, because people want it that way... 🙇‍
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/templates/tutors/tutor/view.html
Due: none

minor formatting changes
  bags/locale/de/LC_MESSAGES/django.po
  bags/models.py
  bags/views.py
  fahrt/models.py
  guidedtours/locale/de/LC_MESSAGES/django.po
  guidedtours/models.py
  guidedtours/views.py
  settool_common/models.py
  tutors/forms.py
Due: mypy, pylint

generified the logging and added a modification log to every db-object
  bags/migrations/0026_bagsettings_created_at_bagsettings_updated_at_and_more.py
  bags/models.py
  fahrt/migrations/0031_rename_deparure_place_transportation_departure_place_and_more.py
  fahrt/models.py
  guidedtours/migrations/0020_participant_created_at_participant_updated_at_and_more.py
  guidedtours/models.py
  settool_common/migrations/0017_anonymisationlog_created_at_and_more.py
  settool_common/models.py
  tutors/models.py
Due: mypy, pylint

fixed typo: deparure_place is spelled with a t
  fahrt/migrations/0032_rename_deparure_place_transportation_departure_place_and_more.py
  fahrt/templates/fahrt/transportation/management/list_transports.html
  settool_common/fixtures/showroom_fixture.py
Due: mypy, pylint

generified Semesters and ids (except fahrt.participant)
  bags/migrations/0027_alter_company_semester_alter_giveawaygroup_semester.py
  bags/models.py
  fahrt/forms.py
  fahrt/models.py
  fahrt/views/maintinance_views.py
  fahrt/views/participants_views.py
  fahrt/views/tex_views.py
  guidedtours/migrations/0021_alter_tour_semester.py
  guidedtours/models.py
  settool_common/cron.py
  settool_common/locale/de/LC_MESSAGES/django.po
  settool_common/migrations/0018_alter_anonymisationlog_semester.py
  settool_common/models.py
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/migrations/0009_alter_event_id_alter_event_semester_and_more.py
  tutors/migrations/0010_alter_event_semester_alter_question_semester_and_more.py
  tutors/models.py
Due: mypy, pylint

semester-reformating
  bags/models.py
  guidedtours/models.py
  tutors/models.py
Due: mypy, pylint

migrated fahrt.participant from an integer-based id to a uuid
  fahrt/locale/de/LC_MESSAGES/django.mo
  fahrt/locale/de/LC_MESSAGES/django.po
  fahrt/migrations/0033_logentry_participant_uuid_and_more.py
  fahrt/migrations/0034_remove_participant_id_alter_logentry_participant_and_more.py
  fahrt/models.py
  fahrt/templates/fahrt/finanz/simple_finanz.html
  fahrt/templates/fahrt/participants/view_participant_details.html
  fahrt/templates/fahrt/transportation/management/add_transport.html
  fahrt/templates/fahrt/transportation/management/list_transports.html
  fahrt/templates/fahrt/transportation/management/transport_chat.html
  fahrt/urls.py
  fahrt/views/finanz_views.py
  fahrt/views/participants_views.py
  fahrt/views/transport_views.py
Due: mypy, pylint

changed datetime.datetime to timezone to stop this migration from complaining about TZ-Support
  guidedtours/migrations/0005_participant_time.py
Due: mypy

Fixed SIM909 Remove reflexive assignment
  tutors/tests/test_file_export.py
Due: mypy, pylint

made mypy happy by adding more type-hints
  fahrt/models.py
  settool_common/models.py
  tutors/views.py
Due: mypy, pylint

made _make_hash_value not static because this caused issues in CI
  tutors/tokens.py
Due: mypy, pylint

added the initial implementation of the calendar
  kalendar/__init__.py
  kalendar/admin.py
  kalendar/apps.py
  kalendar/feeds.py
  kalendar/forms.py
  kalendar/locale/de/LC_MESSAGES/django.mo
  kalendar/locale/de/LC_MESSAGES/django.po
  kalendar/migrations/0001_initial.py
  kalendar/migrations/__init__.py
  kalendar/models.py
  kalendar/templates/kalendar/base_kalendar.html
  kalendar/templates/kalendar/dashboard.html
  kalendar/templates/kalendar/management/add_date.html
  kalendar/templates/kalendar/management/delete_date.html
  kalendar/templates/kalendar/management/edit_date.html
  kalendar/templates/kalendar/management/list/chronological.html
  kalendar/templates/kalendar/management/list/grouped.html
  kalendar/templates/kalendar/management/view_date.html
  kalendar/templates/kalendar/management/view_date_public.html
  kalendar/tests/__init__.py
  kalendar/translation.py
  kalendar/urls.py
  kalendar/views.py
  locale/de/LC_MESSAGES/django.mo
  locale/de/LC_MESSAGES/django.po
  requirements.txt
  settool/settings/base_settings.py
  settool/urls.py
  settool_common/cron.py
  settool_common/tests/test_email.py
  templates/base.html
  templates/base_card_layout.html
Due: mypy, pylint

migrated tutors to support the kalendar
  tutors/forms.py
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/migrations/0009_add_associated_meetings_and_more.py
  tutors/migrations/0010_migrate_start_end_to_dategroup.py
  tutors/migrations/0011_migrate_meeting_point_to_locaton.py
  tutors/migrations/0014_remove_tutor_registration_time.py
  tutors/models.py
  tutors/templates/tutors/dashboard.html
  tutors/templates/tutors/event/delete.html
  tutors/templates/tutors/event/list.html
  tutors/templates/tutors/event/view.html
  tutors/templates/tutors/task/delete.html
  tutors/templates/tutors/task/list.html
  tutors/templates/tutors/task/view.html
  tutors/templates/tutors/tutor/delete.html
  tutors/templates/tutors/tutor/view.html
  tutors/translation.py
  tutors/views.py
Due: mypy, pylint

minor formatting fixes in migrations
  bags/migrations/0004_auto_20160531_1312.py
  bags/migrations/0008_auto_20160608_1212.py
  bags/migrations/0017_remove_mail_semester.py
  bags/migrations/0021_auto_20210326_1632.py
  bags/migrations/0023_auto_20210330_1154.py
  fahrt/migrations/0006_auto_20160906_1418.py
  fahrt/migrations/0024_remove_mail_semester.py
  fahrt/migrations/0028_auto_20210218_2258.py
  fahrt/migrations/0034_remove_participant_id_alter_logentry_participant_and_more.py
  guidedtours/migrations/0013_remove_mail_semester.py
  settool_common/migrations/0011_remove_mail_semester.py
Due: mypy

moved BaseTaskEvent to kalendar
  kalendar/models.py
  tutors/models.py
  tutors/views.py
Due: mypy, pylint

migrated settool_common to support the kalendar
  settool_common/cron.py
  settool_common/fixtures/showroom_fixture.py
  settool_common/tests/test_email.py
Due: mypy, pylint

merged the new modelbase into the kalendar draft
  fahrt/forms.py
  fahrt/migrations/0035_alter_participant_semester.py
  fahrt/views/tex_views.py
  guidedtours/migrations/0005_participant_time.py
  kalendar/locale/de/LC_MESSAGES/django.mo
  kalendar/locale/de/LC_MESSAGES/django.po
  kalendar/migrations/0002_date_created_at_date_updated_at_dategroup_created_at_and_more.py
  kalendar/models.py
  tutors/locale/de/LC_MESSAGES/django.mo
  tutors/locale/de/LC_MESSAGES/django.po
  tutors/migrations/0011_add_associated_meetings_and_more.py
  tutors/migrations/0012_migrate_start_end_to_dategroup.py
  tutors/migrations/0013_migrate_meeting_point_to_locaton.py
  tutors/models.py
  tutors/views.py
Due: mypy, pylint

migrated fahrt to support the kalendar
  fahrt/locale/de/LC_MESSAGES/django.mo
  fahrt/locale/de/LC_MESSAGES/django.po
  fahrt/migrations/0036_remove_logentry_time.py
  fahrt/migrations/0037_remove_participant_registration_time.py
  fahrt/models.py
  fahrt/templates/fahrt/participants/view_participant_details.html
  fahrt/views/participants_views.py
Due: mypy, pylint

migrated guidedtours to support the kalendar
  guidedtours/forms.py
  guidedtours/locale/de/LC_MESSAGES/django.mo
  guidedtours/locale/de/LC_MESSAGES/django.po
  guidedtours/migrations/0022_remove_tour_date_remove_tour_length_and_more.py
  guidedtours/migrations/0023_remove_participant_time_participant_date_and_more.py
  guidedtours/migrations/0024_alter_tour_id.py
  guidedtours/migrations/0025_remove_tour_uuid_alter_participant_tour_and_more.py
  guidedtours/models.py
  guidedtours/templates/guidedtours/signup/blocked.html
  guidedtours/templates/guidedtours/signup/signup.html
  guidedtours/urls.py
  guidedtours/views.py
Due: mypy, pylint

Automated Change: updated pre-commit requirements
  .pre-commit-config.yaml
  .pre-commit-only-line-endings-config.yaml
Due: none

fix ci
  .github/workflows/main-ci.yml
Due: none

reduced the worker amount availible in staging
  Dockerfile
Due: none

guidedtours
  guidedtours/locale/de/LC_MESSAGES/django.mo
  guidedtours/locale/de/LC_MESSAGES/django.po
  guidedtours/views.py
Due: mypy, pylint

tutors
  tutors/locale/de/LC_MESSAGES/django.mo
Due: none

kalendar
  kalendar/feeds.py
  kalendar/locale/de/LC_MESSAGES/django.mo
  kalendar/locale/de/LC_MESSAGES/django.po
  kalendar/models.py
  kalendar/templates/kalendar/management/list/chronological.html
Due: mypy, pylint

fixed a typo disallowing users to remove assigned tutors
  tutors/templates/tutors/task/view.html
Due: none
